@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";
body {
  margin: 0px;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.showValue {
  text-align: right;
}
